{# empty Twig template #}
{% extends "master.html.twig" %}

{% block title %}Contact{% endblock %}



{% block content %}
    
    <div class="panel-heading">
        <h3 class="panel-title"><i class="glyphicon glyphicon-bookmark"></i> Contact</h3>
      
    </div>
    <div class="panel-body">

<h1>Kremlin.</h1>

</div>
  
{% endblock content %}