{# empty Twig template #}
<h2>Add Symbol</h2>

<form method="post">
    Symbol: <input type="text" name="symbol" placeholder="Symbol"><br><br>
    <input type="submit" value="Get Quote">
</form>


            
