
<!DOCTYPE html>
<html class="full" lang="en">
    <!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Simple trading</title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        
        <!-- Bootstrap Core CSS -->
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/bootstrap/css/style.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="/bootstrap/css/sb-admin.css" rel="stylesheet">
        <!-- Morris Charts CSS -->
        <link href="/bootstrap/css/plugins/morris.css" rel="stylesheet">
        <!-- Custom Fonts!!!! -->
        <link href="/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">



        <!-- Bootstrap Core CSS -->
        <link href="css/full.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>
        <!-- Navigation -->
        <<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/login">Start Playing</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    
                        <ul class="nav navbar-right top-nav">
                        <li>
                            <a href="/register">Register</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
             {% if sessionUser %}
                    Welcome {{sessionUser.name}}!
            {% endif %}

            <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="/login"><i class="fa fa-fw fa-user"></i> Log-in</a>

            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#"><i class="fa fa-fw fa-power-off"></i>
                    {% block logout %}{% if sessionUser %}
                            <a href="/logout">Log Out</a>
                    {% endif %}{% endblock %}</a>
            </li>
                    </ul>
                </div>

            </div>

        </nav>

       <div class="container-fluid" id="backgroundlanding">
        </div>
            <!-- jQuery -->
    <script src="/bootstrap/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    </body>

</html>