{# empty Twig template #}
{% block logininfo %}

    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
            {% block username %} {% if user %}
                    Welcome {{user.name}}!
            {% endif %}{% endblock %}

            <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="/login"><i class="fa fa-fw fa-user"></i> Log-in</a>

            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#"><i class="fa fa-fw fa-power-off"></i>
                    {% block logout %}{% if user %}
                            <a href="/logout">Log Out</a>
                    {% endif %}{% endblock %}</a>
            </li>
        </ul>


{% endblock %}
