{# empty Twig template #}
{% extends "master.html.twig" %}

{% block search %}
    <form class="form-inline my-2 my-lg-0 mr-lg-2" method="post">
        <div class="input-group">
            <input type="text" class="form-control" name="symbol" placeholder="Symbol">{{stockList}}</input>
            <span class="input-group-btn">
                <input class="btn btn-primary" type="button" type="submit" ><i class="fa fa-search"></i></input>
            </span>
        </div>
    </form>



{% endblock %}
